# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
# .pnp.js
.pnp.*

# testing
/coverage
.out/

# build directories
/.next/
/out/
/build

# Cache
**/tsconfig.tsbuildinfo
**/.eslintcache
.cache/*

# misc
.DS_Store
*.pem

# debug
**/.debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local
.env.local

# Deployment platforms
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# security: atlassian/changeset
**/.netrc

/docs
